body {
    background-color: #ccd2db !important;
}
.container {
    background-color: white !important;
}
.todolist {
    margin: auto;
}
#add {
    padding: .5rem 1.4rem;
}
#update {
    padding: .5rem .7rem;
}
.checkbox {
    width: 1.25rem;
    height: 1.25rem;
    margin-top: .5rem !important; 
}
.task {
    font-size: 1.5rem;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.decorate {
    text-decoration: line-through;
    text-decoration-color: mediumblue;
}
.delete {
    font-size: 1.5rem;
    color: mediumblue;
}
.error {
    color: red;
}